<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SBook</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
  </head>
  <body>
    <header>
      <ul>
        <li>Поиск</li>
        <li>Книги</li>
        <li>Войти</li>
        <li id="registration_btn">Зарегистрироваться</li>
      </ul>
    </header>
  
     <script src="./js/index.js"></script>
  </body>
</html>