<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SBook</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
  </head>
  <body>
    <header>
      <div onclick="renderBooks()">Книги</div>
      {{#if guest}}
        <div onclick="renderLogin()">Войти</div>
        <div onclick="renderSignup()">Зарегистрироваться</div>
      {{/if}}
      
      {{#if user}}
        <div onclick="renderProfile()">Профиль</div>
      {{/if}}
    </header>
  
     <script src="./js/index.js"></script>
  </body>
</html> 