<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RFLibrary</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
  </head>
  <body>
    <header>
      <div onclick="renderBooks()">Books</div>
      {{#if guest}}
        <div onclick="renderLogin()">Login</div>
        <div onclick="renderSignup()">Signup</div>
      {{/if}}
      
      {{#if user}}
        <div onclick="renderProfile()">Profile</div>
      {{/if}}
    </header>
  
     <script src="./js/index.js"></script>
  </body>
</html> 