<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SBook</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
  </head>
  <body>
    <header>
      <div>Книги</div>
      <div id="login_btn">Войти</div>
      <div id="signup_btn">Зарегистрироваться</div>
    </header>
  
     <script src="./ts/index.js"></script>
  </body>
</html> 