<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SBook</title>
    {{!-- <link rel="stylesheet" type="text/css" href="./css/index.css"/> --}}
  </head>
  <body>
    <form method="post">
      <input name="email" type="email" placeholder="Email">
      <input name="password" type="password" placeholder="Пароль">
      <button>Войти</button>
    </form>

    <p>
      {{error_message}}
    </p>
  </body>
</html> 