<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SBook</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
  </head>
  <body>
    <header>
      <h3>Профиль {{userName}}</h3>
    </header>
    <button onclick="deleteTokenAndExit()">Выйти</button>


    <script src="./js/profile.js"></script>
  </body>
</html> 