<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RFLibrary</title>
    {{!-- <link rel="stylesheet" type="text/css" href="./css/index.css"/> --}}
  </head>
  <body>
    <form method="post">
      <input name="name" type="text" placeholder="Name" autocomplete="off" required>
      <input name="email" type="email" placeholder="Email" required>
      <input name="password" type="password" placeholder="Password" required>
      <button>Signup</button>
    </form>

   {{#if error_message}}
      <p>
        {{error_message}}
      </p>
    {{/if}}
  </body>
</html> 